"*":
  "activate-power-mode":
    comboMode:
      enabled: false
      multiplier: false
    particles: {}
    plugins:
      playAudio: true
      screenShake: true
    screenShake:
      enabled: false
  "atom-beautify":
    html:
      beautify_on_save: true
    markdown:
      default_beautifier: "Tidy Markdown"
  core:
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "one-dark-syntax"
    ]
  editor:
    fontSize: 19
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "e64a1497-58b6-4d75-bcfd-fdcf9a9a88a2"
  "platformio-ide-terminal":
    core:
      shell: "/bin/zsh"
  welcome:
    showOnStartup: false
".c.source":
  editor:
    tabLength: 4
".cpp.source":
  editor:
    tabLength: 4
".go.source":
  editor:
    tabLength: 4
    tabType: "hard"
".java.source":
  editor:
    tabLength: 4
".python.source":
  editor:
    tabLength: 4
